[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
python-dotenv = "*"
python-telegram-bot = "*"
requests = "*"
sqlalchemy = "*"
emoji = "*"
spotipy = "*"
peewee = "*"
ipdb = "*"
pylast = "*"

[requires]
python_version = "3.7"
