[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipdb = "*"

[packages]
python-dotenv = "*"
python-telegram-bot = "*"
requests = "*"
sqlalchemy = "*"
emoji = "*"
spotipy = "*"
peewee = "==3.11.2"
pylast = "*"
musicbrainzngs = "*"
sentry-sdk = "==0.8.0"
psycopg2 = "*"

[requires]
python_version = "3.7"
